<img src="../../../assets/images/audaceslogo.png" alt="logo" class="logo">
<div class="forgot-container">
    <a routerLink="/login" class="arrow-icon">
        <img src="../../../assets/images/Nav icons/arrowback.svg" alt="Back to login">
    </a>
    <h1>
        Redefinir Senha
    </h1>
    <span>Digite o e-mail associado à sua conta e enviaremos instruções para redefinir sua senha.</span>
    <form (ngSubmit)="onSubmit()" [formGroup]="formRecover" #formDir="ngForm">
        <div class="form-group">
            <input type="email" class="form-control" formControlName="email" placeholder="Informe seu e-mail">
        </div>
        <div *ngIf="email.invalid && formDir.submitted" class="validation-error">
            <p *ngIf="email.errors?.['required']">Insira um e-mail!</p>
            <p *ngIf="email.errors?.['email']">Insira um e-mail válido!</p>
        </div>
        <button type="submit" class="btn-form">Enviar Recuperação</button>
    </form>
</div>