div {
    width: 84%;
    height: 100%;
    display: flex;
    background: #FEFEFE;
}

.create-container {
    position: absolute;
    left: 216px;
    top: 0px;
    height: 820px;
}

.header-container {
    display: flex;
    padding: 80px;
    justify-content: space-between;
}

.header-container>p {
    font-size: 24px;
    color: #2C2C2C;
    font-weight: 600;
}

.validation-error {
    display: flex;
    padding-left: 25px;
    color: red;
    font-size: 15px;
}

.form-one {
    position: absolute;
    width: 410px;
    height: 43px;
    left: 100px;
    top: 120px;
    flex-direction: column;
}

.form-one>input {
    padding: 13px 15px;
    border: 1px solid #EBF0FA;
    border-radius: 6px;
    margin: 20px;
    width: 410px;
}

.form-one>select {
    padding: 13px 15px;
    border: 1px solid #EBF0FA;
    border-radius: 6px;
    margin: 20px;
    width: 410px;
}


.form-one>input::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #B4B6C1;
}

.form-one>select::content {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #B4B6C1;
}

.form-two {
    position: absolute;
    width: 410px;
    height: 43px;
    left: 550px;
    top: 120px;
    flex-direction: column;
}

.form-two>input {
    padding: 13px 15px;
    border: 1px solid #EBF0FA;
    border-radius: 6px;
    margin: 20px;
    width: 410px;
}

.form-two>select {
    padding: 13px 15px;
    border: 1px solid #EBF0FA;
    border-radius: 6px;
    margin: 20px;
    width: 410px;
}

.form-two>input::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #B4B6C1;
}

.form-two>select::content {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #B4B6C1;
}

.radio-container {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-left: 50px;
    gap: 20px;
}

.radio-container>label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9395A3;
}

.radio-container-two {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-left: 50px;
    gap: 20px;
}

.radio-container-two>label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9395A3;
}

.label {
    padding-left: 50px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #A098AE;
}

img {
    position: absolute;
    top: 435px;
    left: 375px;
}

.footer-buttons {
    position: absolute;
    width: 180px;
    height: 50px;
    left: 702px;
    top: 750px;
    gap: 10px;
}

.btn-cancel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 50px;
    gap: 10px;
    background: #EBEBEB;
    border-radius: 6px;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #A098AE;
    border: none;
    cursor: pointer;
}

.btn-create {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 50px;
    background: #0073CF;
    border-radius: 6px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}