<nav class="navbar-container">
    <img src="../../../../assets/images/Nav icons/audaceslogo.png" alt="Isa logo">
    <h1 class="logo-text">AudacesManager</h1>
    <a routerLink="/home" class="nav-link">Dashboard</a>
    <ul>
        <li>
            <p class="subtitle-bar">CADASTROS</p>
            <a routerLink="/collections" class="nav-link-collection">Coleções</a>
            <a routerLink="/models" class="nav-link-model">Modelos</a>
        </li>
    </ul>
    <ul>
        <li>
            <p class="suport-bar">SUPORTE</p>
            <p class="nav-link-help">Obter ajuda</p>
            <p routerLink="/home" class="nav-link-comments">Enviar comentários</p>
        </li>
    </ul>
    <a routerLink="/login" class="nav-link-logout">Logout</a>
</nav>